In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
A=pd.read_excel('Cleaned File.xlsx')

In [4]:
A.head()

,Comments,Followers,Genre,Likes,Name,Popularity,S,Unique_ID,Views,Year,Month
0,4,119563,danceedm,499,403,97,0,413890,14017.0,2018,3
1,17,2141,danceedm,49,268,17,0,249453,1918.0,2016,6
2,11,22248,danceedm,312,637,91,0,681116,9668.0,2015,5
3,2,393655,rbsoul,2400,366,76,0,387253,113036.0,2017,6
4,81,201030,danceedm,3031,979,699,0,1428029,110024.0,2016,9

In [5]:
A_dummy=pd.get_dummies(A,drop_first=True)

In [6]:
A_dummy.head()

,Comments,Followers,Likes,Name,Popularity,S,Unique_ID,Views,Year,Month,...,Genre_folksingersongwriter,Genre_hiphoprap,Genre_indie,Genre_latin,Genre_metal,Genre_pop,Genre_rbsoul,Genre_reggaeton,Genre_rock,Genre_trap
0,4,119563,499,403,97,0,413890,14017.0,2018,3,...,0,0,0,0,0,0,0,0,0,0
1,17,2141,49,268,17,0,249453,1918.0,2016,6,...,0,0,0,0,0,0,0,0,0,0
2,11,22248,312,637,91,0,681116,9668.0,2015,5,...,0,0,0,0,0,0,0,0,0,0
3,2,393655,2400,366,76,0,387253,113036.0,2017,6,...,0,0,0,0,0,0,1,0,0,0
4,81,201030,3031,979,699,0,1428029,110024.0,2016,9,...,0,0,0,0,0,0,0,0,0,0

In [7]:
Train=A_dummy[A_dummy['S']==0]

In [8]:
Test=A_dummy[A_dummy['S']==1]

In [9]:
Train.drop('S',axis=1,inplace=True)
Test.drop(['S','Views'], axis=1,inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [10]:
Train.shape

(78458, 29)

In [11]:
Test.shape

(19615, 28)

In [12]:
Train.head()

,Comments,Followers,Likes,Name,Popularity,Unique_ID,Views,Year,Month,Genre_alternativerock,...,Genre_folksingersongwriter,Genre_hiphoprap,Genre_indie,Genre_latin,Genre_metal,Genre_pop,Genre_rbsoul,Genre_reggaeton,Genre_rock,Genre_trap
0,4,119563,499,403,97,413890,14017.0,2018,3,0,...,0,0,0,0,0,0,0,0,0,0
1,17,2141,49,268,17,249453,1918.0,2016,6,0,...,0,0,0,0,0,0,0,0,0,0
2,11,22248,312,637,91,681116,9668.0,2015,5,0,...,0,0,0,0,0,0,0,0,0,0
3,2,393655,2400,366,76,387253,113036.0,2017,6,0,...,0,0,0,0,0,0,1,0,0,0
4,81,201030,3031,979,699,1428029,110024.0,2016,9,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
Test.head()

,Comments,Followers,Likes,Name,Popularity,Unique_ID,Year,Month,Genre_alternativerock,Genre_ambient,...,Genre_folksingersongwriter,Genre_hiphoprap,Genre_indie,Genre_latin,Genre_metal,Genre_pop,Genre_rbsoul,Genre_reggaeton,Genre_rock,Genre_trap
78458,26,2568,5428,538,118,562546,2019,1,0,0,...,0,0,0,0,0,0,0,0,0,0
78459,18,155645,738,667,195,907584,2015,3,0,0,...,0,0,0,0,0,0,0,0,0,0
78460,18,29446,386,264,96,213013,2013,9,0,0,...,0,0,0,0,0,0,0,0,0,0
78461,1,799410,388,387,19,340312,2007,8,0,0,...,0,0,0,0,0,0,0,0,0,0
78462,0,2,79,62,1,41854,2018,8,0,0,...,0,0,0,0,0,0,0,0,1,0

In [14]:
Train.drop('Unique_ID',axis=1,inplace=True)
Test.drop('Unique_ID',axis=1,inplace=True)

In [15]:
Train.head()

,Comments,Followers,Likes,Name,Popularity,Views,Year,Month,Genre_alternativerock,Genre_ambient,...,Genre_folksingersongwriter,Genre_hiphoprap,Genre_indie,Genre_latin,Genre_metal,Genre_pop,Genre_rbsoul,Genre_reggaeton,Genre_rock,Genre_trap
0,4,119563,499,403,97,14017.0,2018,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,17,2141,49,268,17,1918.0,2016,6,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11,22248,312,637,91,9668.0,2015,5,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,393655,2400,366,76,113036.0,2017,6,0,0,...,0,0,0,0,0,0,1,0,0,0
4,81,201030,3031,979,699,110024.0,2016,9,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
Test.head()

,Comments,Followers,Likes,Name,Popularity,Year,Month,Genre_alternativerock,Genre_ambient,Genre_classical,...,Genre_folksingersongwriter,Genre_hiphoprap,Genre_indie,Genre_latin,Genre_metal,Genre_pop,Genre_rbsoul,Genre_reggaeton,Genre_rock,Genre_trap
78458,26,2568,5428,538,118,2019,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78459,18,155645,738,667,195,2015,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78460,18,29446,386,264,96,2013,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78461,1,799410,388,387,19,2007,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78462,0,2,79,62,1,2018,8,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [17]:
Train=Train.reset_index(drop=True)
Test=Test.reset_index(drop=True)

In [18]:
Train.head()

,Comments,Followers,Likes,Name,Popularity,Views,Year,Month,Genre_alternativerock,Genre_ambient,...,Genre_folksingersongwriter,Genre_hiphoprap,Genre_indie,Genre_latin,Genre_metal,Genre_pop,Genre_rbsoul,Genre_reggaeton,Genre_rock,Genre_trap
0,4,119563,499,403,97,14017.0,2018,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,17,2141,49,268,17,1918.0,2016,6,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11,22248,312,637,91,9668.0,2015,5,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,393655,2400,366,76,113036.0,2017,6,0,0,...,0,0,0,0,0,0,1,0,0,0
4,81,201030,3031,979,699,110024.0,2016,9,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
Test.head()

,Comments,Followers,Likes,Name,Popularity,Year,Month,Genre_alternativerock,Genre_ambient,Genre_classical,...,Genre_folksingersongwriter,Genre_hiphoprap,Genre_indie,Genre_latin,Genre_metal,Genre_pop,Genre_rbsoul,Genre_reggaeton,Genre_rock,Genre_trap
0,26,2568,5428,538,118,2019,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,18,155645,738,667,195,2015,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18,29446,386,264,96,2013,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,799410,388,387,19,2007,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,2,79,62,1,2018,8,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [20]:
Train.shape

(78458, 28)

In [21]:
Test.shape

(19615, 27)

In [22]:
from sklearn.preprocessing import RobustScaler

In [23]:
RS=RobustScaler()

In [24]:
x=Train.drop('Views',axis=1)
y=Train['Views']

In [25]:
x_scaled=RS.fit_transform(x)
Test_scaled=RS.transform(Test)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
LR=LinearRegression()

In [28]:
ypre=LR.fit(x_scaled,y).predict(Test_scaled)

In [29]:
sample=pd.read_excel('Sample_Submission.xlsx')

In [30]:
sample['Views']=ypre

In [31]:
sample.to_excel('LR(RS).xlsx',index=False)

In [32]:
from sklearn.tree import DecisionTreeRegressor

In [33]:
DTR=DecisionTreeRegressor()

In [34]:
ypre=DTR.fit(x_scaled,y).predict(Test_scaled)

In [35]:
sample['Views']=ypre

In [36]:
sample.to_excel('DTR(RS).xlsx',index=False)

In [37]:
from sklearn.ensemble import RandomForestRegressor

In [38]:
RFR=RandomForestRegressor()

In [39]:
ypre=RFR.fit(x_scaled,y).predict(Test_scaled)

In [40]:
sample['Views']=ypre

In [41]:
sample.to_excel('RFR(RS).xlsx',index=False)

In [42]:
from sklearn.ensemble import GradientBoostingRegressor

In [43]:
GBR=GradientBoostingRegressor()

In [44]:
ypre=GBR.fit(x_scaled,y).predict(Test_scaled)

In [45]:
sample['Views']=ypre

In [46]:
sample.to_excel('GBR(RS).xlsx',index=False)

In [47]:
from sklearn.ensemble import AdaBoostRegressor

In [48]:
ABR=AdaBoostRegressor()

In [49]:
ypre=ABR.fit(x_scaled,y).predict(Test_scaled)

In [50]:
sample['Views']=ypre

In [51]:
sample.to_excel('ABR(RS).xlsx',index=False)

In [52]:
from sklearn.neighbors import KNeighborsRegressor

In [59]:
knn=KNeighborsRegressor()

In [60]:
ypre=knn.fit(x_scaled,y).predict(Test_scaled)

In [61]:
sample['Views']=ypre

In [62]:
sample.to_excel('knn(RS).xlsx',index=False)

In [63]:
from lightgbm import LGBMRegressor

In [64]:
Lgbm=LGBMRegressor()

In [65]:
ypre=Lgbm.fit(x_scaled,y).predict(Test_scaled)

In [66]:
sample['Views']=ypre

In [68]:
sample.to_excel('lgbm(RS).xlsx',index=False)

In [69]:
from xgboost import XGBRegressor

In [70]:
xbr=XGBRegressor()

In [71]:
ypre=xbr.fit(x_scaled,y).predict(Test_scaled)

C:\Users\user\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\user\Anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[15:46:36] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [72]:
sample['Views']=ypre

In [73]:
sample.to_excel('xgb(RS).xlsx',index=False)

In [ ]:
s